@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: GabrielSans;
    src: url("./Fonts/font_normal.otf");
}

@font-face {
    font-family: GabrielSans;
    src: url("./Fonts/font_bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: GabrielSans;
    src: url("./Fonts/font_medium.otf");
    font-weight: 500;
}

::-webkit-scrollbar {
    @apply w-2
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 rounded-full
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500 rounded-full
}

::-webkit-scrollbar-track {
    @apply bg-transparent
}

::-ms-reveal {
    filter: invert(100%);
}
